{% extends "page/base.html" %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'page/archive.css' %}">
{% endblock %}
{% block nav %}
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a href="{% url 'logout_user' %}" class="navbar__link">Logout</a>
            </li>
            <li class="navbar__item">
                <a href="{% url 'orders_admin' 1 %}" class="navbar__link">Zamówienia</a>
            </li>
            {% if notification > 0 %}
            <li class="navbar__item">
                <a class="navbar__link navbar__link--new" href="{% url 'inbox' %}">Wiadomości</a>
            </li>
            {% else %}
            <li class="navbar__item">
                <a class="navbar__link" href="{% url 'inbox' %}">Wiadomości</a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
{% block content %}
    {% if archive_order_list %}
    {% if prev_page >= 1 or next_page  > 1%}
        <aside class="pagination">
            {% if prev_page >= 1%}
                <a class="pagination__link pagination__link--active" href="{% url 'archive_admin' prev_page %}">Poprzednia strona</a>
            {% else %}
                <div class="pagination__link"></div>
            {% endif %}
            {% if next_page > 1 %}
                <a class="pagination__link pagination__link--active" href="{% url 'archive_admin' next_page %}">Następna strona</a>
            {% else %}
                <div class="pagination__link"></div>
            {% endif %}
        </aside>
    {% endif %}
        <section class="order_table">
            <ul class="order_table__row order_table__row--head">
                <li class="order_table__element">Data</li>
                <li class="order_table__element">Data zrealizowania</li>
                <li class="order_table__element">Numer</li>
                <li class="order_table__element">Zdjęcie</li>
            </ul>
            {% for order in archive_order_list %}
            <ul class="order_table__row order_table__row--item">
                <li class="order_table__element">{{order.pub_date}}</li>
                <li class="order_table__element">{{order.unactivation_date}}</li>
                <li class="order_table__element">{{order.order_number}}</li>
                <li class="order_table__element">
                    <a class="order_table__link" target="_blank" href="https://z4l.pl/glass/{{order.image}}-1.jpg">
                        <img src="https://z4l.pl/glass/{{order.image}}-1.jpg" width="144" height="144">
                    </a>
                </li>
            </ul>
            {% endfor %}
        </section>
    {% else %}
        <div>
            <h1>Brak zrealizowanych zamówień</h1>
        </div>
    {% endif %}
{% endblock %}
{% block user %}
{% endblock %}