<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{order.order_number}}</title>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'page/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'page/details.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a class="navbar__link" href="{% url 'logout_user' %}">Logout</a>
            </li>
            <li class="navbar__item">
                <a href="{% url 'orders_admin' 1 %}" class="navbar__link">Zamówienia</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="{% url 'archive_admin' 1 %}">Zrealizowane zamówienia</a>
            </li>
            {% if notification > 0 %}
            <li class="navbar__item">
                <a class="navbar__link navbar__link--new" href="{% url 'inbox' %}">Wiadomości</a>
            </li>
            {% else %}
            <li class="navbar__item">
                <a class="navbar__link" href="{% url 'inbox' %}">Wiadomości</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% if messages %}
    {% for message in messages %}
    <div class="msg">
        <p class="msg__text">{{message}}</p>
    </div>
    {% endfor %}
    {% endif %}
    <section class="order">
        <ul class="order__list">
            <li class="order__element">Numer zamówienia: {{order.order_number}}</li>
            <li class="order__element">Etykieta:
                <a class="order__element--link" target="_blank" href="https://z4l.pl/Auftrag_szkielka/{{order.order_number}}.pdf">{{order.order_number}}.pdf</a>
            </li>
            <li class="order__element">Auftrag:
                <a class="order__element--link" target="_blank" href="https://z4l.pl/Auftrag_szkielka/Auftrag%20{{order.order_number}}.pdf">Auftrag {{order.order_number}}.pdf</a>
            </li>
            {% if admin %}
            <li class="order__element">DHL:
                <a class="order__element--link" target="_blank" href="https://www.dhl.com/en/express/tracking.html?AWB={{order.tracking_number}}&brand=DHL">{{order.tracking_number}}</a>
            </li>
            {% endif %}
            <li class="order__element">Data: {{order.pub_date}}</li>
            <li class="order__element">Status: {{status}}</li>
        </ul>
        <form class="order__message form" action="{% url 'add_message' order.order_number %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="form__submit" type="submit" value="Wyślij">
        </form>
        {% if status_changes %}
        <div class="statuses">
            <h1 class="statuses__title">Zmiany statusów</h1>
            <div class="statuses__state">
                <p class="statuses__item statuses__item--head">Zmieniający</p>
                <p class="statuses__item statuses__item--head">Status początkowy</p>
                <p class="statuses__item statuses__item--head" >Nowy status</p>
                <p class="statuses__item statuses__item--head">Data</p>
            </div>

            {% for change in status_changes %}
                <div class="statuses__state">
                        <p class="statuses__item statuses__op">{{change.change_owner}}</p>
                    {% for status in order.order_statuses %}
                        {% if change.previous_state == status.0 %}
                            <p class="statuses__item statuses__status">{{status.1}}</p>
                        {% endif %}
                    {% endfor %}
                    {% for status in order.order_statuses %}
                        {% if change.new_state == status.0 %}
                        <p class="statuses__item statuses__status">{{status.1}}</p>
                        {% endif %}
                    {% endfor %}
                        <p class="statuses__item statuses__date statuses__date--center">{{change.date}}</p>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </section>
</body>
</html>