{% extends "page/base.html" %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'page/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'page/errors.css' %}">
{% endblock %}
{% block nav %}
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a class="navbar__link" href="{% url 'logout_user' %}">Logout</a>
            </li>
            <li class="navbar__item">
                <a href="{% url 'orders_admin' 1 %}" class="navbar__link">Zamówienia</a>
            </li>
            {% if notification > 0 %}
            <li class="navbar__item">
                <a class="navbar__link navbar__link--new" href="{% url 'inbox' %}">Wiadomości</a>
            </li>
            {% else %}
            <li class="navbar__item">
                <a class="navbar__link" href="{% url 'inbox' %}">Wiadomości</a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
{% block content %}
    <section class="box">
        {% for error in errors %}
            <p class="box__error">{{error}}</p>
        {% endfor %}
    </section>
{% endblock %}
{% block user %}
    <div class="user">
        <p class="user__name">{{ request.user.username }}</p>
        <div class="user__groups">
        {% for group in request.user.groups.all %}
            <p class="user__group">{{ group }}</p>
        {% endfor %}
        </div>
    </div>
{% endblock %}