.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d8cfd0;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
}
.error__header {
    color: #413d3d;
}
.error__link {
    color: #413d3d;
}
.error__link:hover {
    color: #697184;
}