.order {
    margin: 20px;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 10px;
}
.order__info {
    padding: 5px;
}
.order__span {
    font-weight: bold;
}
.order__button {
    padding: 5px;
}
.order__link--btn {
    padding: 0px;
    width: 100px;
    height: 25px;
}